<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgyhr.task.dao.mapper.EmployeeInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pgyhr.task.entity.po.EmployeeInfoPO">
        <id column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="former_name" property="formerName" />
        <result column="id_card_type" property="idCardType" />
        <result column="id_num" property="idNum" />
        <result column="birthday" property="birthday" />
        <result column="resident_type" property="residentType" />
        <result column="gender" property="gender" />
        <result column="marriage_status" property="marriageStatus" />
        <result column="marriage_date" property="marriageDate" />
        <result column="child_status" property="childStatus" />
        <result column="child_num" property="childNum" />
        <result column="health_status" property="healthStatus" />
        <result column="policy" property="policy" />
        <result column="country_code" property="countryCode" />
        <result column="nationality" property="nationality" />
        <result column="social_account" property="socialAccount" />
        <result column="fund_account" property="fundAccount" />
        <result column="add_fund_account" property="addFundAccount" />
        <result column="employee_email" property="employeeEmail" />
        <result column="employee_mobile" property="employeeMobile" />
        <result column="employee_address" property="employeeAddress" />
        <result column="employee_zip_code" property="employeeZipCode" />
        <result column="residence_address" property="residenceAddress" />
        <result column="emergency_contact_name" property="emergencyContactName" />
        <result column="emergency_mobile" property="emergencyMobile" />
        <result column="file_address" property="fileAddress" />
        <result column="is_active" property="isActive" />
        <result column="version" property="version" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="modified_by" property="modifiedBy" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

</mapper>
