<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgyhr.task.dao.mapper.SocialPolicyTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pgyhr.task.entity.po.SocialPolicyTemplatePO">
        <id column="social_policy_code" property="socialPolicyCode" />
        <result column="social_policy_name" property="socialPolicyName" />
        <result column="social_policy_type" property="socialPolicyType" />
        <result column="policy_type" property="policyType" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="expiration_month" property="expirationMonth" />
        <result column="expiration_remark" property="expirationRemark" />
        <result column="personal_property_id" property="personalPropertyId" />
        <result column="is_combined" property="isCombined" />
        <result column="remark" property="remark" />
        <result column="is_active" property="isActive" />
        <result column="version" property="version" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="modified_by" property="modifiedBy" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>


    <resultMap id="SocialPolicyTemplateResultMap" type="com.pgyhr.task.entity.dto.SocialPolicyTemplateResponseDTO">
        <id column="social_policy_code" property="socialPolicyCode" />
        <result column="social_policy_name" property="socialPolicyName" />
        <result column="social_policy_type" property="socialPolicyType" />
        <result column="policy_type" property="policyType" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="expiration_month" property="expirationMonth" />
        <result column="expiration_remark" property="expirationRemark" />
        <result column="personal_property_id" property="personalPropertyId" />
        <result column="is_combined" property="isCombined" />
        <result column="remark" property="remark" />
        <result column="is_active" property="isActive" />
        <result column="version" property="version" />
        <collection property="socialPolicyTemplateItemDTOList" column="social_policy_code" select="querySocialPolicyItemByCode"
                    javaType="ArrayList"  ofType="com.pgyhr.task.entity.dto.SocialPolicyTemplateItemDTO">
        </collection>
    </resultMap>

    <resultMap id="socialPolicyTemplateItemMap" type="com.pgyhr.task.entity.dto.SocialPolicyTemplateItemDTO">
        <id column="social_policy_item_code" property="socialPolicyItemCode" />
        <result column="social_policy_code" property="socialPolicyCode" />
        <result column="policy_type" property="policyType" />
        <result column="item_code" property="itemCode" />
        <result column="item_name" property="itemName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="effective_month" property="effectiveMonth" />
        <result column="policy_year" property="policyYear" />
        <result column="city_avg_salary" property="cityAvgSalary" />
        <result column="province_avg_salary" property="provinceAvgSalary" />
        <result column="min_salary" property="minSalary" />
        <result column="pay_month" property="payMonth" />
        <result column="payer" property="payer" />
        <result column="base_max" property="baseMax" />
        <result column="base_min" property="baseMin" />
        <result column="check_tail_flag" property="checkTailFlag" />
        <result column="pay_max" property="payMax" />
        <result column="sort" property="sort" />
        <result column="calculate_method" property="calculateMethod" />
        <result column="rate_type" property="rateType" />
        <result column="fixed_rate" property="fixedRate" />
        <result column="step" property="step" />
        <result column="rate_min" property="rateMin" />
        <result column="rate_max" property="rateMax" />
        <result column="multi_rate" property="multiRate" />
        <result column="fixed_value" property="fixedValue" />
        <result column="round_type" property="roundType" />
        <result column="remark" property="remark" />
        <result column="is_active" property="isActive" />
        <result column="version" property="version" />
    </resultMap>



    <select id="querySocialPolicyByParam" parameterType="com.pgyhr.task.entity.dto.SocialPolicyTemplateDTO" resultMap="SocialPolicyTemplateResultMap">
        select
        spt.social_policy_code,
        spt.social_policy_name,
        spt.social_policy_type,
        spt.policy_type,
        spt.city_code,
        spt.city_name,
        spt.expiration_month,
        spt.expiration_remark,
        spt.personal_property_id,
        spt.is_combined,
        spt.remark,
        spt.is_active,
        spt.version
        FROM dict_social_policy_template spt
        WHERE 1=1
        AND spt.city_code = #{cityCode}
  </select>



    <select id="querySocialPolicyItemByCode" parameterType="java.lang.String"
            resultType="com.pgyhr.task.entity.dto.SocialPolicyTemplateItemDTO"
            resultMap="socialPolicyTemplateItemMap">
        select
        spti.social_policy_item_code,
        spti.social_policy_code,
        spti.policy_type,
        spti.item_code,
        spti.item_name,
        spti.city_code,
        spti.city_name,
        spti.effective_month,
        spti.policy_year,
        spti.city_avg_salary,
        spti.province_avg_salary,
        spti.min_salary,
        spti.pay_month,
        spti.payer,
        spti.base_max,
        spti.base_min,
        spti.check_tail_flag,
        spti.pay_max,
        spti.sort,
        spti.calculate_method,
        spti.rate_type,
        spti.fixed_rate,
        spti.step,
        spti.rate_min,
        spti.rate_max,
        spti.multi_rate,
        spti.fixed_value,
        spti.round_type,
        spti.remark,
        spti.is_active,
        spti.version
        FROM dict_social_policy_template_item spti
        WHERE 1=1
        AND spti.social_policy_code =  #{social_policy_code}
  </select>

</mapper>
